body {
  background-image: url('../src/assets/jpg/bg1.jpeg');
  /* background: rgba(216, 214, 212, 0.1); */
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --darker: #111111;
}

.bd-r-none {
  border-right: 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline-flex;
}

.space-center {
  justify-content: center;
}

.w-3 {
  width: 30%;
}

.w-100 {
  width: 365px;
}

footer {
  width: 100%;
  margin-top: 60px;
  padding: 30px;

  color: black;
  text-align: center;
}

.eng {
  font-family: 'Pinyon Script', cursive;
  font-size: 45px;
  text-shadow: 2px 2px 2px rgb(33, 32, 32);
  color: rgb(255, 255, 255);
}

.and {
  font-size: 40px;
  text-decoration-line: underline;
}

.kor {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 30px;
  color: rgba(59, 59, 58, 1);
}

.text {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 17px;
  line-height: 1.8;
  color: rgba(59, 59, 58, 1);
}

.text-sm {
  font-size: 15px;
}

.text-11 {
  font-size: 11px;
}

.ml-50 {
  margin-left: 50px;
}

.m-b-10 {
  margin-block: 10px;
}

.m-b-30 {
  margin-block: 30px;
}

.mx-5 {
  margin-inline: 5px;
}

.mx-20 {
  margin-inline: 20px;
}

.my-5 {
  margin-block: 5px;
}

.my-15 {
  margin-block: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pr-60 {
  padding-right: 60px;
}

.p-30 {
  padding: 30px;
}

.invite {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 17px;
  color: rgb(194, 109, 35);
  line-height: 1.8;
}

.line {
  line-height: 2.5;
}

.text-center {
  text-align: center;
}

.border {
  border: 1px solid rgb(189, 185, 185);
  padding: 10px;
}

.bgi {
  background-position: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('./assets/jpg/deco1.jpeg');
  background-size: cover;
}

.bgi2 {
  background-position: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('./assets/jpg/deco3.jpeg');
  background-size: cover;
}

.location {
  background: rgba(230, 229, 229, 0.7);
}

.gallery {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 25px;
  text-shadow: 1px 1px 1px #aaa;
  color: rgba(59, 59, 58, 1);
}

.contact {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
  margin-inline: 10px;
  color: rgba(59, 59, 58, 1);
}

.modalBackdrop {
  background: rgba(0, 0, 0, 1);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 999;
}

.modalContainer {
  border-radius: 5px;
  /* max-width: 360px; */
  margin: 15px auto;
  padding: 5px;
  /* width: 100%; */
  /* padding-top: 10px; */
}

.modalContainer img {
  width: 350px;
}

.closeBtn {
  color: aliceblue;
  opacity: 0.8;
  position: absolute;
  font-size: 30px;
  right: 0;
}

.closeBtn:hover,
.forward:hover,
.back:hover {
  opacity: 1;
  background-color: rgba(125, 116, 116, 0.4);
}

/* .forward {
  color: aliceblue;
  opacity: 0.8;
  position: absolute;
  top: 45%;
  right: 10px;
  font-size: 30px;
}

.back {
  color: aliceblue;
  opacity: 0.8;
  position: absolute;
  top: 45%;
  left: 10px;
  font-size: 30px;
} */

.rounded {
  padding: 10px;
  border-radius: 25px;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
  overflow: hidden;
}

.sm {
  font-size: 13px;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
  padding-top: 4px;
}

.icons8-phone {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNTAiIGhlaWdodD0iNTAiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iIzk1YTVhNiI+PHBhdGggZD0iTTQ4LjE2LDEzLjcyNjQxYy0xOC45NTg5OSwwIC0zNC40LDE1LjQ0MTAxIC0zNC40LDM0LjR2NzUuNjhjMCwxOC45NTg5OSAxNS40NDEwMSwzNC40IDM0LjQsMzQuNGg3NS42OGMxOC45NTg5OSwwIDM0LjQsLTE1LjQ0MTAxIDM0LjQsLTM0LjR2LTc1LjY4YzAsLTE4Ljk1ODk5IC0xNS40NDEwMSwtMzQuNCAtMzQuNCwtMzQuNHpNNDguMTYsMjAuNjA2NDFoNzUuNjhjMTUuMjQxNDksMCAyNy41MiwxMi4yNzg1MSAyNy41MiwyNy41MnY3NS42OGMwLDE1LjI0MTQ5IC0xMi4yNzg1MSwyNy41MiAtMjcuNTIsMjcuNTJoLTc1LjY4Yy0xNS4yNDE0OSwwIC0yNy41MiwtMTIuMjc4NTEgLTI3LjUyLC0yNy41MnYtNzUuNjhjMCwtMTUuMjQxNDkgMTIuMjc4NTEsLTI3LjUyIDI3LjUyLC0yNy41MnpNNjIuMDg3OTcsMzcuOTYwOTRjLTcuMDM1OTEsLTAuMzA0MDMgLTEyLjM3NjA4LDIuMzY5MzYgLTE1LjczNTMxLDUuNTgzMjhjLTEuNjc5NjEsMS42MDY5NiAtMi44OTIyNywzLjMyNjQgLTMuNzIyMTksNC45MzE1NmMtMC44Mjk5MSwxLjYwNTE3IC0xLjM1NzE5LDIuOTI4NTEgLTEuMzU3MTksNC42NDkzN2MwLC0wLjE1MzI5IC0wLjAzNzgsMC42NTEyOCAtMC4wNjA0NywxLjU4NTYzYy0wLjAyMjcsMC45MzQzNSAtMC4wMTg1NywyLjE5Mzg1IDAuMDY3MTksMy43MTU0N2MwLjE3MTg2LDMuMDQzMjMgMC42ODc2NSw3LjE1OTY4IDIuMDU1OTQsMTIuMDRjMi43MzY1OCw5Ljc2MDY0IDguODk4NTYsMjIuNTY0NDkgMjIuMjY1OTQsMzUuOTMxODhjMTMuMzY3MzksMTMuMzY3MzggMjYuMTcwNDksMTkuNTI4NDkgMzUuOTMxODgsMjIuMjY1OTRjNC44ODA2OSwxLjM2ODcyIDguOTk2NDgsMS44ODM3MiAxMi4wNCwyLjA1NTk0YzEuNTIxNzYsMC4wODYxIDIuNzc0MjksMC4wODk3NSAzLjcwODc1LDAuMDY3MTljMC45MzQ0NiwtMC4wMjI3IDEuNzQ1MTEsLTAuMDYwNDcgMS41OTIzNSwtMC4wNjA0N2MxLjcyMDg2LDAgMy4wNDQyMSwtMC41MjcyNyA0LjY0OTM3LC0xLjM1NzE5YzEuNjA1MTcsLTAuODI5OTEgMy4zMjQ2LC0yLjA0MjU3IDQuOTMxNTYsLTMuNzIyMTljMy4yMTM5MywtMy4zNTkyMyA1Ljg4NzMsLTguNjk5NCA1LjU4MzI4LC0xNS43MzUzMWMtMC4xNDQyNiwtMy4zNTU2NSAtMi4wMDczNCwtNi4zMjcyNCAtNC43NTY4OCwtOC4wODkzOGMtMi4xMjQ4MiwtMS4zNjE1MyAtNS40MjM0MSwtMy40NzUwNyAtOS43Mjg3NSwtNi4yMjgyOGMtNC45OTUyMSwtMy4xOTE1IC0xMS4zODQzMiwtMy40MTk0NyAtMTYuNTk1MzEsLTAuNTY0MzdsMC4yOTU2MiwtMC4xNDc4MWwtNC4wNTE0LDEuNzQwMTZsLTAuMjk1NjMsMC4yMDgyOGMtMC45ODQ3MywwLjY5MTQxIC0yLjIwNDM1LDAuODE5NSAtMy4zMTIzNSwwLjM1NjA5Yy0zLjEwMzc0LC0xLjI5NzkzIC03LjkzOTc4LC0zLjg0ODA3IC0xMi40MzY0LC04LjM0NDY5Yy00LjQ5NjYyLC00LjQ5NjYyIC03LjA0Njc2LC05LjMzMjY3IC04LjM0NDY5LC0xMi40MzY0Yy0wLjQ2MzQxLC0xLjEwOCAtMC4zMzUzMywtMi4zMjc2MSAwLjM1NjA5LC0zLjMxMjM1bDAuMjA4MjgsLTAuMjk1NjNsMS43NDAxNiwtNC4wNTE0bC0wLjE0NzgxLDAuMjk1NjJjMi44NTQzOSwtNS4yMDk2OSAyLjYzMjQ1LC0xMS41OTg2MiAtMC41NjQzNywtMTYuNTk1MzFjLTIuNzUzMjIsLTQuMzA1MzQgLTQuODY2NzUsLTcuNjAzOTMgLTYuMjI4MjgsLTkuNzI4NzVjLTEuNzYyMTQsLTIuNzQ5NTQgLTQuNzMzNzIsLTQuNjEyNiAtOC4wODkzOCwtNC43NTY4OHpNNjEuNzkyMzUsNDQuODM0MjJjMC45NjQ5OCwwLjA0MTQ5IDEuOTYxMzMsMC42MDYwNCAyLjU5MzQ0LDEuNTkyMzVjMS4zNjI5NCwyLjEyNzAyIDMuNDc3NDksNS40MjcyMSA2LjIyODI4LDkuNzI4NzVjMS44MjU1NywyLjg1MzM5IDEuOTUzODcsNi42MDM0MyAwLjMyMjUsOS41ODA5NGwtMC4wODA2MywwLjE0NzgxbC0xLjY1OTUzLDMuODc2NzJsMC4zNDI2NiwtMC42MjQ4NWMtMi4wMzMwNywyLjg5NTU5IC0yLjQ0MTY3LDYuNjU1OTEgLTEuMDc1LDkuOTIzNmMxLjU1MDM5LDMuNzA3NDYgNC41MTUyNyw5LjMzMjYyIDkuODI5NTMsMTQuNjQ2ODdjNS4zMTQyNiw1LjMxNDI2IDEwLjkzOTQxLDguMjc5MTQgMTQuNjQ2ODcsOS44Mjk1M2MzLjI2NzY4LDEuMzY2NjcgNy4wMjgwMSwwLjk1ODA3IDkuOTIzNiwtMS4wNzVsLTAuNjI0ODUsMC4zNDI2NmwzLjg3NjcyLC0xLjY1OTUzbDAuMTQ3ODEsLTAuMDgwNjNjMi45NzYyMSwtMS42MzA2NiA2LjcyNjA3LC0xLjQ5NDc5IDkuNTgwOTQsMC4zMjkyMnYtMC4wMDY3MmM0LjMwMTU0LDIuNzUwNzkgNy42MDE3Myw0Ljg2NTM0IDkuNzI4NzUsNi4yMjgyOGMwLjk4NjMsMC42MzIxMSAxLjU1MDg2LDEuNjI4NDUgMS41OTIzNSwyLjU5MzQ0YzAuMjI1NzMsNS4yMjQyNSAtMS41ODg3NCw4LjQ5NTA1IC0zLjY4MTg4LDEwLjY4MjgxYy0xLjA0NjU2LDEuMDkzODkgLTIuMTgxNDcsMS44ODc3NyAtMy4xMTc1LDIuMzcxNzJjLTAuOTM2MDMsMC40ODM5NSAtMS44MzEyNywwLjU4NDUzIC0xLjQ5MTU2LDAuNTg0NTNjLTAuNjMwOTMsMCAtMC45NjMyMywwLjA0MTM4IC0xLjc1MzYsMC4wNjA0N2MtMC43OTAzNywwLjAxOTI2IC0xLjg0OTc5LDAuMDIwMzEgLTMuMTU3ODEsLTAuMDUzNzVjLTIuNjE2MDMsLTAuMTQ4MDIgLTYuMjI2OTEsLTAuNTk0NjEgLTEwLjU3NTMxLC0xLjgxNDA2Yy04LjY5NjgxLC0yLjQzODg5IC0yMC4zNTUxLC03LjkzODg0IC0zMi45MjE4OCwtMjAuNTA1NjJjLTEyLjU2Njc4LC0xMi41NjY3OCAtMTguMDY3NTksLTI0LjIyNjA2IC0yMC41MDU2MiwtMzIuOTIxODhjLTEuMjE5MDIsLTQuMzQ3OTEgLTEuNjY2MzQsLTcuOTU5NjQgLTEuODE0MDYsLTEwLjU3NTMxYy0wLjA3Mzg2LC0xLjMwNzg0IC0wLjA3MjkxLC0yLjM2NzUyIC0wLjA1Mzc1LC0zLjE1NzgxYzAuMDE5MjYsLTAuNzkwMjkgMC4wNjA0NywtMS4xMjIxNSAwLjA2MDQ3LC0xLjc1MzZjMCwwLjMzOTcgMC4xMDA1OSwtMC41NTU1MyAwLjU4NDUzLC0xLjQ5MTU2YzAuNDgzOTUsLTAuOTM2MDMgMS4yNzc4MywtMi4wNzA5NCAyLjM3MTcyLC0zLjExNzVjMi4xODc3NywtMi4wOTMxNCA1LjQ1ODU3LC0zLjkwNzYyIDEwLjY4MjgxLC0zLjY4MTg4eiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+')
    50% 50% no-repeat;
  background-size: 100%;
}

.qr {
  position: absolute;
  z-index: 1;
  left: 5%;
  right: 0;
  top: -20%;
  bottom: 0;
}

.relative {
  position: relative;
}

.justify-end {
  justify-content: end;
}
/* #map {
  width: 100%;
  height: 350px;
} */

.btn {
  border: 1px solid rgba(131, 122, 122, 0.4);
  width: 150px;
  padding: 3px;
  font-size: 13px;
  font-weight: 900;
  color: #000000;
}
